<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00472916
  </ion-title>
      <!--navigation icons-->
      <!--setting icon- navigation to the settings page -->
      <!-- Places icons REF: https://ionicframework.com/docs/api/buttons-->
       <ion-buttons slot="end">
      <!--REF:Class materials wk 9 routerlink for navigation-->
      <ion-button routerLink="/settings">
      <!--REF:https://ionic.io/ionicons-->
      <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
   
      <!--Favourites icon - to navigate to the favourites page-->
      <ion-button routerLink="/favourites">
      <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!--Ion-Item:container/wrapper for input elements - class materials Ionic Components -->
  <ion-item>
    <!--Ion-input: input can be regular HTML but ionic offers a nicer way of doing it  - class materials 
    Ref:https://ionicframework.com/docs/components -->
    <ion-input label="Enter Ingredients"[(ngModel)]="ingredients"></ion-input> 
  </ion-item>
<!--Again rather then using a plain Html button- the Ionic compenent:ion-button renders a better looking button
 Ref:https://ionicframework.com/docs/components-->
  <ion-button (click)="searchRecipes()">SEARCH</ion-button><!--Search button triggers the API call-->

<!--*ngFor creates one card for each recipe in the recipes array-->
  <ion-card *ngFor="let recipe of recipes">

<!--Recipe image display-->
<!--REF:Class materials lab10-->
  <!--[] bind this to Typescript variable, reciepe.image gets the image URL from each recipe object-->
<ion-img [src]="recipe.image"></ion-img>

  <ion-card-header>
<!--Display recipe title-->
<!--Double curly brackets display Typescript variable values in HTML-->
<ion-card-title>{{recipe.title}}</ion-card-title>
  </ion-card-header>
  <!--Adds detail button to each recipe-->
  <ion-card-content>
    <!--details button with routerLink to pass parameters through route 
     REF:class materials wk9, Angular Router: https://angular.dev/api/router/RouterLink -->
    <ion-button [routerLink]="['/recipe-details', recipe.id]">Details</ion-button>
  </ion-card-content>
  </ion-card>

</ion-content>





